[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/Xilinx/u-boot-xlnx.git
[submodule "linux-xlnx"]
	path = linux-xlnx
	url = https://github.com/Xilinx/linux-xlnx.git
[submodule "xenomai-3"]
	path = xenomai-3
	url = git://git.xenomai.org/xenomai-3.git
[submodule "ipipe-arm"]
	path = ipipe-arm
	url = git://git.xenomai.org/ipipe-arm.git
